// Font sizes
$font-size-lg: 56px;
$font-size-xxl: 32px;
$font-size-xl: 24px;
$font-size-md: 18px;
$font-size-default: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;

//Font weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

//Dimensions
$side-navigation-width: 330px;
$side-navigation-closed-width: 70px;
$header-height: 56px;

//z-index
$progress-bar-z-index: 1001;
$main-header-z-index: 99;
$action-reports-btns-z-index: 99;

